<a href="https://colab.research.google.com/github/dborges14/SamsungInovationCampus_AI/blob/main/Chapter3_Pandas_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## What is **Pandas** ?

- An open source Python library that that provides data structures and data analysis tools.
- Provides data wrangling, processing and modeling capabilities for Python comparable to R language.
- Highly optimized for performance when dealing with data.

### Structured vs Unstructured data

- Unstructured data: such as raw data obtained by web-scraping, log files, etc.
- Structured data: such as data contained in CSV files, Excel spreadsheets, SQL tables, etc

## Pandas **Series**
- Similar to one dimensional NumPy array.
- Has attributes such as index, name, etc.
- Supports vectorized operations.

In [5]:
import pandas as pd
import numpy as np

In [70]:
data = {"Brown":[220], "Blue":[215], "Hazel":[93], "Green":[64]}
df = pd.DataFrame(data)
type(df)					     # 'df' is a DataFrame object.

pandas.core.frame.DataFrame

In [73]:
type(df['Brown'])					     # A column of 'df' is a Series object.

pandas.core.series.Series

In [18]:
my_data = np.array([220, 215, 93,64])
eye = pd.Series(data=my_data, index=['Brown','Blue','Hazel','Green'], name='Eye color count')    # Create a new Series object.
eye

Brown    220
Blue     215
Hazel     93
Green     64
Name: Eye color count, dtype: int64

**Series** attributes and methods:

In [19]:
ser = eye

In [20]:
print(ser.name)			# Name attribute of the Series object 'ser'.

Eye color count

In [21]:
ser.index			# Index attribute of the Series object 'ser'.

Index(['Brown', 'Blue', 'Hazel', 'Green'], dtype='object')

In [22]:
ser.values			# Values of the Series given as a NumPy array.

array([220, 215,  93,  64])

In [23]:
ser.sort_values()			# Sort the Series values from the smallest to the largest.

Green     64
Hazel     93
Blue     215
Brown    220
Name: Eye color count, dtype: int64

In [24]:
ser.sort_index()			# Sort the Series indices from the smallest to the largest. (or alphabetic order)

Blue     215
Brown    220
Green     64
Hazel     93
Name: Eye color count, dtype: int64

In [25]:
ser.nunique()			# Number of unique values in the Series.

4

In [26]:
ser.unique()			# Unique values of the Series given as a NumPy array

array([220, 215,  93,  64])

In [59]:
rser = pd.Series(np.random.randint(1,5,20))
rser.value_counts()			# Returns a frequency table.

4    5
3    5
2    5
1    5
dtype: int64